<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Notification</title>
</head>
<body>
    <%- include('../components/Header', {user: true}); %> 
    
    <div class="content">
        <p class="title">Select a Server</p>
        <hr id="line"><br><br>
        <div class="guilds-container">
          <% for (let guild of guilds) { %> 
            <div class="guild-item shadow-2xl">
                <img src="<%= guild.icon %>" class="img-round">
                <p class="lead guild-name"><%= guild.name %></p><br>
                <% if (!guild.invited) { %>
                  <a class="btn bg-green" target="_blank" href="//discord.com/api/oauth2/authorize?client_id=850394280056324106&permissions=268823632&scope=bot&guild_id=<%= guild.id %>">초대</a>
                <% } else {%>
                  <a class="btn btn-discord" href="/dashboard/<%= guild.id %>">설정</a>
                <% } %> 
                </div>
          <% } %> 
        </div>
    </div>
</body>
</html>